@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  //max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 30px;

  &__title {
    font-size: $typographic-base-font-size * 1.7;
    letter-spacing: $typographic-title-letter-spacing * 1.5;
    font-weight: 700;
    @include line-height(1.5);
    @include margin-top(0.3);
    @include margin-bottom(0)
  }

  &__body {
    margin-top: 30px;

    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          //max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }

    }

    & p {
      //text-align: justify;

      & img {
        margin: 20px 0;
      }
    }

    & h1, h2 {
      letter-spacing: $typographic-title-letter-spacing;
      margin-top: 2.3rem;
    }

    & h3 {
      margin-top: 1.5rem;
    }

    & img {
      max-width: 100%;
    }

    & ul {
      padding-inline-start: 20px;
    }

    & ol {
      padding: 20px;
      & li {
        margin-bottom: 5px;
        padding-left: 10px;
      }
    }
  }

  & blockquote {
    margin: 30px 0;
    border-left: 3px solid;
    color: #777764;

    & p {
      font-size: 15px;
      font-family: initial;
      letter-spacing: -0.7px;
      line-height: 1.5rem;
      text-align: left;
      margin-left: 20px;
      font-weight: 400;
      opacity: 0.7;
      font-style: initial;

      & a {
        font-weight: 800;
        color: #777764;
      }

      & a:hover, a:focus {
        opacity: 0.7;
        transition: 0.2s;
      }
    }
  }

}

@include breakpoint-sm {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2;
      @include line-height(1.7);
    }

    &__body {
      margin-top: 50px;
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.05;
        @include line-height(1.15);
        @include margin-bottom(.5)
      }

    }

  }

}