@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  font-size: 14px;
  letter-spacing: -1px;
  margin-top: 10px;

  &__tags {
    display: inline-block;
  }

  &__date {
    display: inline-block;
    float: right;
  }
}

@include breakpoint-sm {
  .meta {
    margin: 20px 152.5px;
  }

}