@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  font-size: 14px;
  text-align: right;
  letter-spacing: -1px;
  margin: 20px;

  &__date {
    font-family: initial;
  }
}