@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &-item {
      display: inline-block;
      padding: 10px;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        text-transform: uppercase;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          transition: color 0.2s;
        }

        &--active {
          color: $color-primary;
          font-weight: 700;
          padding-bottom: 5px;
          border-bottom: 2px solid;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .menu {
    &__list {
      &-item {
        display: inline-block;
      }
    }
  }
}